@model Vidly.ViewModels.MoviesAndCustomersViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Movies.Count > 5 ? "Movies" : "Movie";
}

<h2 class="@className">List of Movies</h2>

@if (Model.Movies.Count == 0)
{
    <text>No movies to display</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <th>Customer</th>
        <th>Discount Rate</th>
        </thead>

        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

