@model Vidly.ViewModels.MoviesAndCustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >List of Customers</h2>

@if (Model.Customers.Count == 0)
{
    <text>No customers to display</text>
}
else
{   
    <table class="table table-bordered table-hover">
        <thead>
            <th>Customer</th>
            <th>Discount Rate</th>
        </thead>

            <tbody>
                @foreach (var customer in Model.Customers)
                {
                <tr>
                    <td><a href="/customers/edit/@customer.Id">@customer.Name</a></td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                </tr>
                }
            </tbody>
    </table>

}

